@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Be Vietnam Pro", sans-serif;
  --font-body: "Atkinson Hyperlegible Next", sans-serif;
  
  --color-surface-container-low: #f8fafc;
  --color-on-background: #334155;
  --color-primary-fixed-dim: #94a3b8;
  --color-on-secondary-fixed: #0f172a;
  --color-on-surface-variant: #64748b;
  --color-on-surface: #0f172a;
  --color-on-secondary: #ffffff;
  --color-error: #ef4444;
  --color-on-primary-fixed-variant: #475569;
  --color-surface: #ffffff;
  --color-error-container: #fee2e2;
  --color-on-secondary-fixed-variant: #1e293b;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #e2e8f0;
  --color-on-secondary-container: #1e40af;
  --color-tertiary-fixed: #cbd5e1;
  --color-on-error: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-tertiary: #0f172a;
  --color-on-tertiary-fixed-variant: #475569;
  --color-on-tertiary-container: #64748b;
  --color-surface-container: #f1f5f9;
  --color-surface-container-high: #e2e8f0;
  --color-secondary: #3b82f6;
  --color-inverse-surface: #0f172a;
  --color-on-error-container: #991b1b;
  --color-on-primary: #ffffff;
  --color-secondary-fixed-dim: #60a5fa;
  --color-outline: #94a3b8;
  --color-surface-tint: #475569;
  --color-on-tertiary-fixed: #0f172a;
  --color-primary: #0f172a;
  --color-surface-bright: #f8fafc;
  --color-primary-fixed: #e2e8f0;
  --color-surface-container-highest: #cbd5e1;
  --color-surface-dim: #cbd5e1;
  --color-inverse-on-surface: #f8fafc;
  --color-on-primary-fixed: #0f172a;
  --color-inverse-primary: #94a3b8;
  --color-on-primary-container: #475569;
  --color-primary-container: #1e293b;
  --color-secondary-container: #dbeafe;
  --color-tertiary-container: #0f172a;
  --color-background: #f8fafc;
  --color-surface-variant: #f1f5f9;
  --color-secondary-fixed: #bfdbfe;
  --color-tertiary-fixed-dim: #94a3b8;
}

@layer utilities {
  .link-card {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
